@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;700&display=swap');

.font-pop{  
    color: #3A3A3A;
    font-family: "Poppins";
    font-size: 52px;
    font-weight: 700;
}
img{
    height: 24px;
    width: 24px;
}
.btn{
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    
}

/* nav bar */
.nav{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */
    padding: 0px 120px;
}
.nav-li{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.nav li{
    width: 62px;
    height: 34.8px;
    font-size: 16px;
    font-weight: 600;
}
.nav h3{
    font-size: 24px;
}
.nav li a{
    text-decoration: none;
    color: #3A3A3A;
    
}
/* body  */
.text-con .font-pop h3{
    width: 582px;
    height: 133px;
    font-size: 52px;
}
.pp{
    width: 505px;
    height: 60.9px;
    font-size: 16px;
    font-weight: 600;  
}
.text-con .btn{
    border: none;
    border-radius: 30px;
}
.text-con .btn span{
    color: #FFF;
    font-size: 16px;
}
.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 120px ;
    
}
.body .camera img{
    width: 100%;
    height: 100%;
    background-image:url(images/Circle\ design.svg);
    position: relative;
    
}
.spons-li{
    list-style: none;
    display: flex;
    gap: 150px;
    justify-content: center;
    margin-top: 250px;
}
.spons-li li img{
    height: 100%;
    width: 100%;
}
/* another section */

.price-list .font-pop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 28px;
    font-weight: 600;

}

.photo-price img{
    width: 300px;
    height: 256px;
    padding: 20px;
    margin-left:50px ;


}
.photo-price {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 150px;
    padding: 0px;
    margin-left: 200px;
    


}
.photo-price div{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 476px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.photo-price div h3,h2,p{
    font-family: "Poppins";
    padding-left: 20px;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: 500;
    margin-left:50px ;

}
.photo-price div p{
    font-size: 14px;
    width: 196px;
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
    margin-left:50px ;
}












@media screen and (max-width:576px) {
    .nav{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        height: 100px;
    }
    .nav-li{
       padding-left: 5px;
       gap: 8px;
    }
    .nav h3{
        margin: 20px 0px;
        width: 100%;
        font-size: 25px;
        text-align: center;
        height: 50px;
    }
    .body{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
       
    }
    .body .font-pop{
        font-size: 20px;
        
        
    }
    .pp{
        text-align: center;
    }
    .text-con .pp{
        width: 300px;
        margin: 0px;
        font-size:14px ;
        height:65px ;
        margin-bottom: 10px;
        
    }
    .font-pop h3{
        display: flex;
        
        margin: 0;
        width: 404px;
        height: 78px;
        font-size: 28px;
    }
    .text-con .btn{
        height: 44px;
        width: 194px;
        display: flex;
        align-items: center;       
        
        
    }
    .text-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .text-con>h3{
        display: flex;
        text-align:center;
        font-size: 28px;
        
    }
    .body .camera img{
        width: 202px;
        height: 190px;
    }
    .spons-li{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 35px;

        align-items: center;
        margin-top: 50px;
        padding-left: 0px;

    }
    .spons-li li img{
        width: 44px;
        height: 17px;

    }
    .price-list .font-pop{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 16px; 
    }
    .photo-price img{
        width: 300px;
        height: 256px;
        margin:17px 14px ;
    }
    .photo-price {
        display: flex;
        flex-direction: column;
        border: none;
        margin: 20px 20px;
        margin-right: 55px;
    }
    .photo-price div h3,h2,p{
        padding:0px;
        margin: 5px;
        margin-left: 32px;
    }
    .photo-price div p{
        margin-left: 32px;
    }

        
        

}